/* ESTILOS PREDETERMINADO DE ZERVIZ */

footer{
  font-size: 11px;
 }


td, th {
    display: table-cell;
    vertical-align: inherit;
    width: 2px;
}
.tablita{
   margin-bottom: 1rem;
   background-color: transparent;
}
.tablaws{
	width: 300px;
	padding: .75rem;
    vertical-align: top;
    border: 1px solid black;
}
.tablaws td{
	border: 1px solid black;
	width: 15px;
	text-align: right; 	
}
.tablaws #iz{
text-align: left; 	
}
.table td, .table th {
	width: 15px;
    padding: .75rem;
    vertical-align: top;
    font-size: 12px;
}